.mail-filter-and-sorting {
    grid-column: 3;
    grid-row: 1;
    height: max-content;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 12% 12%;
    align-items: center;
    gap: 10px;

    /* margin-top: .5rem; */
}


.mail-filter {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2em 1fr;
    align-items: center;
    border: 0;
    padding: 1em;
    background-color: var(--mail-search-bgc);
    border-radius: 3em;
}

.mail-filter input {
    padding-inline-start: 1em;
    border: 0;
    border-radius: 3em;
    font-size: 14px;
    background-color: inherit;
}

.mail-filter input:focus-visible {
    outline: none;
}

.mail-filter-and-sorting .sort-by {
    padding: 1em;
    cursor: pointer;
}
.mail-filter-and-sorting .filter-by-read {
    padding: 1em;
    cursor: pointer;
}

.mail-filter-and-sorting .sort-by > * {
    font-size: 1em;
}

.mail-filter > * {
    padding-inline-start: 1em;
}

.mail-filter-and-sorting select {
    border-radius: 3em;
    border: 0;
}

.mail-filter-and-sorting select:focus-visible {
    outline: none;
}
