.mail-filter {
    grid-column: 3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2em 1fr;
    align-items: center;
    width: 60%;
    border: 0;
    padding: 1em;
    background-color: var(--mail-search-bgc);
    border-radius: 3em;
    margin-block-end: 1em;
}

.mail-filter input {
    padding-inline-start: 1em;
    border: 0;
    border-radius: 3em;
    font-size: 14px;
    background-color: inherit;
}

.mail-filter input:focus-visible {
    outline: none;
}

.mail-filter-and-sorting .sort-by {
    padding: 1em;
    width: 100%;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.mail-filter-and-sorting .sort-by>* {
   font-size: 1em;
}

.mail-filter>* {
    padding-inline-start: 1em;
}

.mail-filter-and-sorting select {
    border-radius: 3em;
    border: 0;
}

.mail-filter-and-sorting select:focus-visible {
    outline: none;
}