.mail-folder-list {
    opacity: 0;
    /* transform: translate(0); */
    transform: translateX(-100%);
    transition: .5s;
}

.mail-folder-list.open {
    grid-column: 2;
    padding-inline-start: 1em;

    background-color: var(--mail-index-bgc);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    transform: translateX(0);
    transition: .5s;   
}

.mail-folder-list>* {
    padding: 10px;
    border-radius: 3em;
    font-size: 14px;
    cursor: pointer;
}

.mail-folder-list article {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-auto-flow: column;
    align-items: center;
    width: 15vw;
}

.mail-folder-list article p {
    font-weight: lighter;
}

.mail-folder-list article span {
    font-weight: bold;
    font-size: 12px;
}

.mail-folder-list article option {
    padding-inline-start: 1em;
}

.mail-folder-list>*:hover {
    background-color: var(--mail-sidebar-hover-bgc);
}

.mail-folder-list .select {
    background-color: var(--mail-sidebar-select-bgc);
}