.mail-filter{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2em 1fr;
    align-items: center;
    width: 50%;
    border: 0;
    background-color: var(--mail-search-bgc);
    border-radius: 3em;
}

.mail-filter input{
    padding-inline-start: 1em;
    border: 0;
    border-radius: 3em;
    font-size: 14px;
    background-color: inherit;
}

.mail-filter input:focus-visible{
    outline: none;
}

.mail-filter>*{
    padding-inline-start: 1em;
}