.mail-folder-list {
    /* text-align: center; */
    background-color: var(--mail-index-bgc);
    font-family: Arial, Helvetica, sans-serif;
}

.mail-folder-list>* {
    padding: 10px;
    border-radius: 3em;
    font-size: 14px;
    cursor: pointer;
}

.mail-folder-list>*:hover {
    background-color: var(--mail-sidebar-hover-bgc);
}

.mail-folder-list>*.select {
    background-color: var(--mail-sidebar-select-bgc);
}