:root {
    --main-bgc: lightblue;

    --mail-index-bgc: #f6f8fc;
    --mail-search-bgc: #eaf1fb;
    --mail-li-bgc: #f2f6fc;

    --mail-sidebar-hover-bgc: #dadce0;
    --mail-sidebar-select-bgc: #d3e3fd;


    --mail-li-color: #202124;

    --mail-font-family-1: Arial, Helvetica, sans-serif;
    --mail-font-family-2: 'Roboto', sans-serif;

    --keep-sidebar-active-bgc: #feefc3;
    --keep-sidebar-hover-bgc: #f1f3f4;
    --keep-bgc-1: #fff;
    --keep-bgc-2: rgba(0, 0, 0, 0.1);
    --keep-text-color-1: #000;
    --keep-text-color-2: #5f6368;
    --keep-note-bgs-1: #faafa8;
    --keep-note-bgs-2: #f39f76;
    --keep-note-bgs-3: #e2f6d3;
    --keep-note-bgs-4: #d4e4ed;
    --keep-note-bgs-5: #d3bfdb;
    --keep-note-bgs-6: #f6e2dd;


    /* book  */
    --clr1: linear-gradient(-86deg, #95c4a8 0, #8bb3bc 100%);

    --clr2: rgb(120, 99, 110);
  
    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}