* {
    box-sizing: border-box;
}

.edit-section {
    margin-block-start: 6em;
}

.edit-section label {
    display: block;
}

.edit-section input[type='color'] {
    background-color: transparent;
    border: none;
}