* {
    box-sizing: border-box;
}

.keep-sidebar {
    position: absolute;
    margin-inline-end: 5em;
    top: 4em;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

.keep-sidebar .keep-sidebar-item {
    display: flex;
    align-items: center;
    padding-inline-start: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.keep-sidebar:hover .keep-sidebar-item {
    display: flex;
    border-radius: 0 20px 20px 0;
    width: 15em;
    transition: ease-out 0.1s;
}

.keep-sidebar .keep-sidebar-item i {
    font-size: 1.4em;
}

.keep-sidebar .keep-sidebar-item.active {
    background-color: var(--keep-sidebar-active-bgc);
}

.keep-sidebar .keep-sidebar-item:not(.active):hover {
    background-color: var(--keep-sidebar-hover-bgc);
}

.keep-sidebar .keep-sidebar-item span {
    opacity: 0;
    position: absolute;
    font-size: 1em;
    left: 5em;
    transition: 0.1s;
}

.keep-sidebar:hover .keep-sidebar-item span {
    opacity: 1;
}

@media(max-width:750px) {
    * {
        overflow-x: hidden;
    }

    /* ADD FORM */
    .notes-add-input .add-form {
        max-width: 80%;
        height: 2em;
        overflow: hidden;
    }

    .notes-add-input .add-form .btn {
        font-size: 0.5em;
        overflow: hidden;
    }

    /* KEEP SIDEBAR */
    .keep-sidebar {
        width: fit-content;
        margin: 0;
    }

    .keep-sidebar .keep-sidebar-item {
        height: 2em;
        width: 2em;
        margin: 1em;
        padding-inline-start: 0.65em;
        border-radius: 50%;
    }

    .keep-sidebar:hover .keep-sidebar-item {
        width: 2em;
        border-radius: 50%;
    }

    .keep-sidebar .keep-sidebar-item i {
        font-size: 1em;
    }

    .keep-sidebar:hover .keep-sidebar-item i {
        margin-inline: 0;
    }

    .keep-sidebar:hover .keep-sidebar-item span {
        opacity: 0;
    }



    /* KEEP INDEX */
    .keep-index {
        column-gap: 1em;
    }

    .note-list {
        columns: 2 10em;
        gap: 5px;
        padding: 1em;
        padding-inline-end: 3em;
        margin-left: 5em;
    }

    .note-card:hover .color-container {
        /* width: 100%; */
        margin: 0;
        padding: 0;
    }

    .note-card .color-item {
        height: 1em;
        width: 1em;
        margin: 2px;

    }
}