* {
    box-sizing: border-box;
}

.note-card {
    min-width: 15em;
    height: fit-content;
    padding: 3em;
    margin-block-end: 1em;
    border-radius: 10px;
    word-wrap: break-word;
    break-inside: avoid;
    border: 1px solid var(--keep-bgc-2);
    /* overflow-wrap: break-word; */
}

.note-card:hover {
    border: scale(1.2);
    transform: scale(1.01);
    box-shadow: 2px 2px 2px var(--keep-bgc-2);
}

.note-card .icons {
    display: flex;
    color: var(--keep-text-color-1);
    opacity: 0;
}

.note-card:hover .icons {
    opacity: 1;
    transition: 0.5s;
}


.note-card .icons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.note-card .icons .btn:hover {
    background-color: var(--keep-bgc-2);
    transition: 0.6s;
}

.note-card .todo-list li {
    list-style: circle;
}