* {
    box-sizing: border-box;
}

.note-card {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    padding: 3em;
}

.note-card .icons {
    display: flex;
    color: black;
    /* opacity: 0;
    transition: 0.3s; */
}

/* .note-card:hover .icons {
    opacity: 1;
} */


.note-card .icons .btn {
    margin: 1em;
}