form.mail-compose {
    display: grid;
    position: absolute;
    bottom: 1em;
    left: 20vw;
    right: 40vw;
    width: 30vw;
    border-radius: 8px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
        rgba(0, 0, 0, 0.2) 0px 5px 5px -3px;
}

.mail-compose h2 {
    background-color: #f2f6fc;
    color: #041e49;
}

.mail-compose input.mail-body{
    height: 15em;
}


.mail-compose>*:not(article) {
    border: 0;
    font-size: 14px;
    padding: 0.62rem;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
}

.mail-compose article{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    background-color: white;
}

.mail-compose .send {
    padding: 0.62rem;
    margin: .5em;
    width: 30%;
    border-radius: 3em;
    border: 0;
    background-color: #0b57d0;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.mail-compose .remove-mail{
    padding-inline-end: 1em;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.mail-compose input:focus-visible {
    outline: none;
}

textarea{
    height: 30vh;
}

textarea:focus-visible{
    outline: none;
}