 .mail-index {
   display: grid;
   grid-template-columns: 5vw 0 1fr;
   gap: 10px;
   padding-block-start: 1em;
   letter-spacing: .50px;
   background-color: var(--mail-index-bgc);
   overflow: hidden;
   transition: .5s;
  }
  
  .mail-index.open {
    display: grid;
    grid-template-columns: 5vw minmax(0, 18%) 1fr;
    gap: 10px;
    padding-block-start: 1em;
    letter-spacing: .50px;
    background-color: var(--mail-index-bgc);
    overflow: hidden;
    transition: .5s;
 }

 .mail-menu-btn {
   grid-column: 1;
   grid-row: 1/-1;
   border: 0;
   background-color: #eaf1fb;
   cursor: pointer;
 }

 .mail-filter {
   grid-column: 3;
 }

 .compose-btn {
   opacity: 0;
   /* transition: .5s; */

 }

 .compose-btn.open {
   margin-inline-start: 1em;
   display: grid;
   grid-auto-flow: column;
   gap: 10px;
   width: 50%;
   min-width: max-content;
   padding: 1.5em;
   border-radius: 1em;
   border: 0;
   font-size: 14px;
   background-color: #c2e7ff;
   color: #001d35;
   cursor: pointer;
   opacity: 1;
   
 }

 .compose-btn:hover {
   box-shadow:
     rgba(0, 0, 0, 0) 0px 1px 2px 0px,
     rgba(0, 0, 0, 0) 0px 1px 3px 1px;
 }