section.book-edit {
    margin: 50px auto;
    width: max-content;
    padding: 2em;
    background-image: var(--clr1);
    margin-block-end: auto;
}

section.book-edit form {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;

    margin: 0;
    font-size: 1em;
}

section.book-edit form label {
    cursor: pointer;
}

section.book-edit form input {
    padding: 1em;
    border-radius: 3em;
    border: 0;
}

section.book-edit form button {
    padding: 1em;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    transition: 1s;
}

section.book-edit form button:hover {
    background-color: rgb(66, 119, 172);
}