* {
    box-sizing: border-box;
}

.book-details .rubric {
    font-weight: bold;
}

.book-details .close-btn {
    margin-block: 1em;
}

.book-details .sale {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(218, 74, 34);
    rotate: -10deg;
    margin-block-end: 1em;
    text-align: center;
}

.book-details .price.red {
    color: rgb(199, 59, 59);
}

.book-details .price.green {
    color: rgb(43, 118, 20);
}