.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.fa {
    font-family: fa;
}

.fa.fa-search-mail::before {
    content: '\f002';
}

.fa.fa-compose-btn-mail::before {
    content: '\f304';
}

.fa.fa-menu-btn::before {
    content: '\f0c9';
}
.fa.fa-mail-menu-btn::before {
    content: '\f0e0';
}

.fa.fa-chat-menu-btn::before {
    content: '\f27a';
}

.fa.fa-meet-menu-btn::before {
    content: '\f03d';
}

.fa.fa-remove-mail::before {
    content: '\f2ed';
}

.fa.fa-unread-mail::before {
    content: '\f0e0';
}

.fa.fa-read-mail::before {
    content: '\f2b6';
}

.fa.fa-index-mail::before {
    content: '\f0e0';
}

.fa.fa-sent-mail::before {
    content: '\f1d8';
}

.fa.fa-draft-mail::before {
    content: '\f15b';
}

.fa.fa-back::before {
    content: '\f060';
}

.fa.fa-prev::before {
    content: '\f104';
}

.fa.fa-next::before {
    content: '\f105';
}

/* book  */
@font-face {
    font-family: fa;
    src: url(fonts/fa/fa-solid-900.ttf);
}

.fa {
	font-family: fa;
}

.fa.fa-facebook::before {
	content: '\f39e';
}

.fa.fa-twitter::before {
	content: '\f099';
}

.fa.fa-dribbble::before {
	content: '\f17d';
}

.fa.fa-behance::before {
	content: '\f1b4';
}

.fa.fa-details::before {
	content: '\f05a';
}

.fa.fa-edit::before {
	content: '\f044';
}

.fa.fa-next::before {
	content: '\f054';
}

.fa.fa-prev::before {
	content: '\f053';
}

.fa.fa-close::before {
	content: '\f00d';
}



.btn {
    cursor: pointer;
}

img.book-img{
    width: 60%;
}