 * {
     box-sizing: border-box;
 }

 .keep-index {
     display: grid;
     grid-template-columns: 0.5fr 3fr;
     grid-template-rows: repeat(3, auto);
     column-gap: 3em;
 }

 .keep-index .notes-add-input {
     grid-column: 2/3;
 }

 .keep-index .all-lists {
     grid-column: 2/4;
 }

 .keep-index .pinned-notes {
     grid-column: 2/3;
     grid-row: 2/3;

 }

 .keep-index .pinned-notes h2 {
     text-align: center;
 }

 .keep-index .note-list {
     grid-column: 2/3;
     grid-row: 3/4;
 }

 /* @media (max-width:740px) {
     .keep-index .note-list {
         margin-left: 0;

     }
 } */