 * {
     box-sizing: border-box;
 }

 .add-form {
     border: 1px solid var(--keep-bgc-2);
     box-shadow: 5px 5px 5px var(--keep-bgc-2);
     width: fit-content;
     border-radius: 10px;
 }

 .add-form input[type='text'] {
     border: none;
     outline: none;
     padding: 1em;
 }

 .add-form input[type="text"]:focus {
     outline: none;
 }

 .add-form .btn {
     width: 3em;
     height: 3em;
     border: transparent;
     background-color: transparent;
     padding: 1em;
     border-radius: 50%;
 }