 * {
     box-sizing: border-box;
 }

 .keep-index {
     display: grid;
     grid-template-columns: 0.5fr 3fr;
     column-gap: 3em;
 }

 .keep-index .notes-add-input {
     grid-column: 2/3;
 }

 .keep-index .note-list {
     grid-column: 2/3;
 }

 /* @media (max-width:740px) {
     .keep-index .note-list {
         margin-left: 0;

     }
 } */