header {
    position: relative;
    top: 0;
    right: 2em;
    z-index: 1;
}

.app-header {
    position: relative;
    display: flex;
    justify-content: end;
    padding: 1em .6em;
}

.app-header img {
    height: 2em;
    width: 2em;
    cursor: pointer;
}

/* 
nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
} */

.menu-modal {
    position: absolute;
    top: 4em;
    right: 4em;
    padding: 1em;
    border: 1px solid var(--keep-bgc-2);
    border-radius: 10px;
    background-color: var(--keep-bgc-1);
}

.menu-modal img {
    height: 2em;
    width: 2em;
    margin: .5em;
}