header {
    position: sticky;
    top: 0;
    background: lightcyan;
    border-bottom: 2px solid white;
    z-index: 1;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.app-header img {
    width: 2em;
    cursor: pointer;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.icons-modal {
    position: fixed;
    top: 4em;
    right: 1em;
    padding: 1em;
    border: 1px solid var(--keep-bgc-2);
    border-radius: 10px;
    background-color: var(--keep-bgc-1);
}