header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--keep-bgc-1);
    z-index: 1;
}

.app-header {
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em .6em;
}

.app-header .logo {
    width: 3em;
    height: 3em;
}

.app-header img.menu {
    height: 2em;
    width: 2em;
    margin-inline-end: .5em;
    cursor: pointer;
}

.menu-modal {
    position: fixed;
    top: 3em;
    right: 3em;
    padding: 1em;
    border: 1px solid var(--keep-bgc-2);
    border-radius: 10px;
    background-color: var(--keep-bgc-1);
    z-index: 10;
}

.menu-modal img {
    height: 2em;
    width: 2em;
    margin: .5em;
}